html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: #040404;
}

.balloon {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
